{% extends "template.html" %}
{% block body %}
<div class="demo-blog__posts mdl-grid">
	<div class="mdl-card vertical-pose-pic-preview mdl-cell mdl-cell--8-col">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a>About</a></h3>
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>The Newist</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card something-else mdl-cell mdl-cell--3-col mdl-cell--4-col-desktop">
		<div class="fb-page" data-href="https://www.facebook.com/MysticLightYoga/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="width: auto">
			<div class="fb-xfbml-parse-ignore" style="width: auto">
				<blockquote cite="https://www.facebook.com/MysticLightYoga/">
					<a href="https://www.facebook.com/MysticLightYoga/">Mystic Light</a>
				</blockquote>
			</div>
		</div>
		<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
			<div>
				<strong>Learn more</strong>
			</div>
			<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
				<!-- <li class="mdl-menu__item">About</li> -->
				<li class="mdl-menu__item"><a style="initial" href="https://www.facebook.com/MysticLightYoga/reviews">Reviews</a></li>
				<li class="mdl-menu__item"><a style="initial" href="mailto:findmysticlight@gmail.com">Message</a></li>
				<li class="mdl-menu__item"><a style="initial" href="tel:+919818032525">Call</a></li>
			</ul>
			<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">more_vert</i>
				<span class="visuallyhidden">show menu</span>
			</button>
		</div>
	</div>
	<div class="mdl-card under-the-chair mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a >Why slow yoga?</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>Kriti Bagga</strong>
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card under-the-arch-preview mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a >What is Ananda Yoga?</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>Kriti Bagga</strong>
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card on-the-fence mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a >Paramhansa Yogananda's Energization Exercises</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>Kriti Bagga</strong>
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card amazing mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title mdl-color-text--grey-50">
			<h3 class="quote"><a >Affirmations…</a></h3>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>Kriti Bagga</strong>
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<nav class="demo-nav mdl-cell mdl-cell--12-col">
		<div class="section-spacer"></div>
		<a class="demo-nav__button" title="show more">
			More
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">arrow_forward</i>
			</button>
		</a>
	</nav>
</div>
{% endblock %}