{% extends "template.html" %}
{% block body %}
<div class="demo-blog__posts mdl-grid">
	<div class="mdl-card vertical-pose-pic-preview mdl-cell mdl-cell--8-col wrap-inline-block">
		<div class="mdl-card__media mdl-color-text--grey-50 inner-inline-block" onclick="location.href='{{ url_for('about') }}'">
			<h3><a href="{{ url_for('about') }}">About</a></h3>
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>The Newist</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card something-else mdl-cell mdl-cell--3-col mdl-cell--4-col-desktop">
		<div class="fb-page" data-href="https://www.facebook.com/MysticLightYoga/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="width: auto">
			<div class="fb-xfbml-parse-ignore" style="width: auto">
				<blockquote cite="https://www.facebook.com/MysticLightYoga/">
					<a href="https://www.facebook.com/MysticLightYoga/">Mystic Light</a>
				</blockquote>
			</div>
		</div>
		<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
			<div>
				<strong>Learn more</strong>
			</div>
			<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
				<!-- <li class="mdl-menu__item">About</li> -->
				<li class="mdl-menu__item"><a style="initial" href="https://www.facebook.com/MysticLightYoga/reviews">Reviews</a></li>
				<li class="mdl-menu__item"><a style="initial" href="mailto:findmysticlight@gmail.com">Message</a></li>
				<li class="mdl-menu__item"><a style="initial" href="tel:+919818032525">Call</a></li>
			</ul>
			<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">more_vert</i>
				<span class="visuallyhidden">show menu</span>
			</button>
		</div>
	</div>
	<div class="mdl-card under-the-chair mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50" onclick="location.href='{{ url_for('slowyoga') }}'">
			<h3><a href="{{ url_for('slowyoga') }}" class="titles">Why slow yoga?</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			A usual yoga practice involves going from one Asana to another. The only benefit it gives us is a good cardio workout. 
			Traditionally, Asanas were meant to be held in meditation itself.
			So, what does actually happens to the body when we hold a posture for 2 minutes?
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>Kriti Bagga</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card under-the-arch-preview mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50" onclick="location.href='{{ url_for('anandayoga') }}'">
			<h3><a href="{{ url_for('anandayoga') }}" class="titles">What is Ananda Yoga?</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			Ananda Yoga is yoga done with awareness for higher awareness. As a true Raja Yoga approach to Hatha Yoga, Ananda Yoga does not focus on forcing the energy up the spine, but using asana, pranayama and mediation techniques to magnetically draw prana up the spine to the brain --- Safely, gently and harmoniously. 
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>Kriti Bagga</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card t mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50" style="cursor:default">
			<h3 class="quote" style="font-size: 64px;" style="cursor:default">Affirmations</h3>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Our words, are just a manifestation of the thoughts which are vibrations of our feelings, which make our words and thoughts a very powerful tool. 
			Every asana (posture) we do has a certain quality. Repeating the affirmation mentally helps us tune into the quality and enhance its effect. On the other hand, it also helps us mind our mind to the present moment and not let it wander as we hold an asana.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>Kriti Bagga</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<div class="mdl-card on-the-fence mdl-cell mdl-cell--12-col" style="height:50em">
		<div class="mdl-card__media mdl-color-text--grey-50" style="cursor:default;">
			<h3>Paramhansa Yogananda's Energization Exercises</h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			"The greater the will, the greater the flow of energy."
			Paramhasna Yogananda's Energization Exercises are his unique contribution to the science of yoga. They are a systematic way to increase the flow of life force, strengthen and heal the body, clear and focus the mind, and prepare you for meditation. Their highest purpose is to help experience the your body as energy which makes it a warm up as well as a pranayama.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<!-- <strong>Kriti Bagga</strong> -->
				<!-- <span>2 days ago</span> -->
			</div>
		</div>
	</div>
	<!-- <nav class="demo-nav mdl-cell mdl-cell--12-col">
		<div class="section-spacer"></div>
		<a class="demo-nav__button" title="show more">
			More
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">arrow_forward</i>
			</button>
		</a>
	</nav> -->
</div>
{% endblock %}