{% extends "template.html" %}
{% block body %}
<div class="demo-blog__posts mdl-grid">
	<!-- Image card -->
	<style>
		.demo-card-image.mdl-card {
			width: 100%;
			background: url('{{ url_for('static', filename='images/arch-preview.jpg') }}') center / cover;
		}
		.demo-card-image > .mdl-card__title {
			color: #fff;
		}
		.demo-card-image > .mdl-card__actions {
			height: 52px;
			padding: 16px;
			background: rgba(0, 0, 0, 0.2);
		}
	</style>

	<div class="demo-card-image mdl-card mdl-shadow--2dp">
	</div>
	<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text" style="margin: auto auto;">Why slow yoga?</h2>
		</div>
		<div class="mdl-color-text--grey-700 page">
			<p>
				A usual yoga practice involves going from one Asana to another. The only benefit it gives us is a good cardio workout. 
				Traditionally, Asanas were meant to be held in meditation itself.
				So, what does actually happens to the body when we hold a posture for 2 minutes?
			</p>
			<p>
				Physically, staying in a posture for more than a minute is when the belly of the muscle starts to relax, opens body and muscle and leads to permanent elasticity.
				Mentally, we all have a certain way we react to situations we aren't comfortable with, situations that usually put us under a certain amount of stress.
				When we are holding the Asana for a little longer than we are comfortable, our body starts to react in the exact same way as when we are stressed. But, staying in it long enough reduces this reactive process.
			</p>
			<p>
				The key here again is to listen to the body and increase the time slowly (preferably should be done under supervision). In our daily lives, we do tend to be hard on ourselves with our expectations. Yoga shouldn't be treated the same way.
			</p>
		</div>
	</div>
</div>
{% endblock %}